[submodule "helios-server"]
	path = helios-server
	url = git@github.com:benadida/helios-server.git
#[submodule "app/zkp"]
#	path = app/zkp
#	url = git@github.com:zkcrypto/zkp.git
[submodule "latex/vendor/listings-rust"]
	path = latex/vendor/listings-rust
	url = git@github.com:denki/listings-rust.git
